body {
    background-image: url(../../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.6rem; }

body:after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: .4;
    z-index: -1;
    background: #0a0117;
    background: -webkit-linear-gradient(to bottom, #0a0117, #281595, #9a630c);
    background: linear-gradient(to bottom, #0a0117, #281595 , #9a630c); 
}

header {
    font-family: "montserrat", serif;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    font-variant: small-caps;
    font-stretch: expanded;
    letter-spacing: 10px;
    padding: 20px;
    text-align: center;
}

.subt{
    font-family: "montserrat", serif;
    /* font-size: 22px; */
    font-weight: lighter;
    color: white;
    /* font-variant: small-caps; */
    font-stretch: expanded;
    /* letter-spacing: 10px; */
    /* padding: 20px; */
    text-align: center;
}

div {
    text-align: justify;
  }

.plot-container{
    background-color: rgba(0, 0, 0, 0.628);
    color: rgba(0, 0, 0, 0.552);
    border: 2px solid white;
    text-align: center;
    margin: auto;
    padding: auto;
    height: 600px;
    width: 1200px;
}

#astronaut {
    position: fixed;
    bottom: 100px;
    right: 100px;
    max-width: 10%;
  }

#planet-container {
    position: relative;
    width: 50%;
    height: 100px;
    overflow: hidden;
}

#planet {
    position: absolute;
    bottom: -325px;
    right: -200px;
    max-width: 40%
    /* overflow: hidden; */
  }