<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Theme Website</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Montserrat  -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!-- D3 -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-2.29.1.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
</head>
<body>
    <header>
        <h1>SBDB Close-Approach Asteroids</h1>
    </header>
    <div class="row">
        <div id = "plot"></div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>
